---
import Layout from '@/layouts/Page.astro';

---

<Layout
	title="Boletín"
	description="Suscríbete a mi boletín para recibir actualizaciones sobre tecnología, ingeniería de software y más."
	lang="es"
>
	<div class="w-full h-[550px] md:h-[500px]">
		<iframe
			src="https://n8n.openlinks.app/form/newsletter/spanish"
			class="w-full h-full"
			frameborder="0"
			scrolling="no"
			title="Formulario de suscripción al boletín"
		></iframe>
	</div>
</Layout>
